<% provide(:title, "#{@user.username}'s timeline") %>

<h4 class="mb-5"><%= @user.username %>'s timeline</h4>

<div class="row" id="locations">
  <%= render "shared/locations" %>

  <% if @locations.blank? %>
    <div class="col-12">
      <div class="jumbotron text-center">
        <p>No location has been shared by <%= @user.username %>.</p>
      </div>
    </div>
  <% end %>
</div>

<div id="auto_next_link">
  <%= render "shared/auto_incremental_pagy" %>
</div>
