<% provide(:title, "Timeline") %>

<div class="d-flex justify-content-between mb-5">
  <h4>Timeline</h4>
  <%= link_to "Share Location", new_location_path, remote: true, title: "Share Location", class: "btn btn-primary" %>
</div>

<div class="row" id="locations">
  <%= render "shared/locations" %>

  <% if @locations.blank? %>
    <div class="col-12">
      <div class="jumbotron  text-center">
        <p>No location has been shared yet. <%= link_to "Share now", new_location_path, remote: true, title: "Share Location" %></p>
      </div>
    </div>
  <% end %>
</div>

<div id="auto_next_link">
  <%= render "shared/auto_incremental_pagy" %>
</div>
