<% provide(:title, "Accepted Friend Requests") %>

<section class="header">
  <h4>Accepted Friend Requests</h4>

  <div class="filter-links">
    <%= link_to "Pending", pending_friend_requests_path %>
    <%= link_to "Rejected", rejected_friend_requests_path %>
  </div>
</section>

<% if @friend_requests.blank? %>
  <section class="well">
    No accepted friend requests are present.
  </section>
<% else %>
  <section class="list">
    <% @friend_requests.each do |fr| %>
      <div class="list-item" id="friend_request_<%= fr.id %>">
        <span class="user-name"><%= link_to fr.user.username, "/#{fr.user.username}", title: "Go to #{fr.user.username}" %></span>
      </div>
    <% end %>
  </section>
<% end %>
